/* app css stylesheet */

.top {               
	background-color: #cccccc;
  	margin-bottom: 20px;
  	padding: 20px;
}

.question {               
  	margin-bottom: 20px;
  	padding: 20px;
	font-size: 20px;
}

.answerUnknown {               
	background-color: #eeeeee;
  	margin: 0 20px 5px 20px;
  	padding: 20px;
	font-size: 14px;
	cursor:pointer;
}

.answerRight {               
	background-color: #009900;
  	margin: 0 20px 5px 20px;
  	padding: 20px;
	font-size: 14px;               
	pointer-events: none;
}

.answerWrong {               
	background-color: #990000;
  	margin: 0 20px 5px 20px;
  	padding: 20px;
	font-size: 14px;     
	pointer-events: none;
}
