<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="triviaApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="triviaApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="triviaApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Music Trivia Question Generator</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-app="triviaApp" ng-controller="TriviaGeneratorController as trivia">
	<div class="top">
	    enter band or musician name: <input type="text" ng-model="artist">
		<button class="btn" ng-click="trivia.submitArtist()">Generate!</button>
  	</div>
	<div class="question">
		{{question}}
  	</div>
  	<div>
  		<div ng-repeat="answer in answers" class="{{answer.class}}" ng-click="trivia.guess(answer.title)">
			{{answer.title}}
	  	</div>
  	</div>
  	<script src="bower_components/angular/angular.js"></script>
  	<script src="controllers.js"></script>
  	<script src="services.js"></script>
  	<script src="app.js"></script>
</body>
</html>
